h1{
     color:rgb(50, 47, 45);
     text-align:center;
     font-family:sans-serif;
     font-weight: bold;
     font-size: 50px;
}

p {
    font-family:'Trebuchet MS';
    color:rgb(50, 47, 45);
    text-align:center;
    font-size: 30px;
    font-weight: 400;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(64, 83, 140);
    border-radius: 4px;
    font-size: 24px;
    padding: 12px 48px;
    border: 2px solid;
    border-color: rgb(8, 0, 40);
    font-family: 'Trebuchet MS';
    display: inline-block;
}
a:hover{
    background-color: rgb(88, 109, 170);
    text-decoration: none;
}
body{
    background-color: cornflowerblue;
    margin: 50px;
    text-align: center;
}
img{
     width:200px;
     height:200px;
     border-radius:100px
}
ol{
    list-style: none;
}
li{
    list-style: none;
    font-family:'Trebuchet MS';
    text-align:center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(141, 53, 24);
    background-color: coral;
    border-radius: 4px;
    padding: 10px;
    margin: 15px 70px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#Golovi{
    font-size: 25px;
}
header p{
    margin-bottom: 36px;
}
h2{
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
}
main p{
    margin: 12px;
}
.highlight-goal{
    background-color: rgb(252, 117, 68);
}
header{
    margin-bottom: 64px;
}